---
layout: default.liquid
---

<main class="center stack">
	<div>
		<h4>{{ title }}</h4>
	</div>

	<section class="stack">
		<section class="frame">
			<img src="{{ image }}" alt="coffee image" />
		</section>
		<h6>by {{ author }} on {{ date | postDate }}</h6>
		<article class="center">
			<content class="content post-content">
				{{ content }}
			</content>
		</article>
	</section>
</main>
